:root {
   --logo-color: #2196f3;
   --logo-second-color: #212121;
   --logo-third-color: #ffffff;

   --main-color: #212121;
   --main-second-color: #757575;
   --main-third-color: #ffffff;
   --link-footer-color: rgba(255, 255, 255, 0.6);

   --base-background: #ffffff;
   --hero-background: #2f303a;
   --team-background: #f5f4fa;
   --footer-background: #2f303a;

   --button-hero-background: #2196f3;
   --button-background: #f5f4fa;

   --action-color: #2196f3;
   --action-second-color: #ffffff;
   --action-button-background: #2196f3;
   --action-button-second-background: #188ce8;

   --border-color: #eeeeee;

   --hero-second-background: #c4c4c4;

   --features-background: #f5f4fa;

   --color-soc-icon: #afb1b8;

   --footer-second-background: rgba(255, 255, 255, 0.1);
}
