/* Секція "client. Постійні клієнти*/
.client {
   padding-top: 94px;
   padding-bottom: 94px;
}
.client__list {
   display: flex;
   justify-content: center;
   gap: 30px;
}
.client__link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 170px;
   height: 92px;
   border-radius: 4px;
   border: 1px solid #afb1b8;
   color: var(--color-soc-icon);

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      border-color: currentColor;
      color: var(--action-color);
   }
}
.client__icon {
   fill: currentColor;
}

